@model IEnumerable<DTO.KhachSanObject>

@{
    ViewBag.Title = "Danh sách khách sạn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary" style="margin-top: 15px">
    <div class="panel-heading">
        <h2>Danh sách Khách sạn</h2>
        @if (new WebQLKhachSan.Areas.Admin.Models.LoginHelper().AllowThemSuaXoa())
        {
            @Html.ActionLink("Thêm mới", "Edit", new { }, new { @class = "btn btn-success" })
        }
    </div>
    <div class="panel-body">
        <table class="table" id="table-data">
            <thead>
                <tr>
                    <th>
                        ẢNH KHÁCH SẠN
                    </th>
                    <th>
                        MÃ KHÁCH SẠN
                    </th>
                    <th>
                        TÊN KHÁCH SẠN
                    </th>
                    <th>
                        ĐỊA CHỈ
                    </th>
                    <th>CHẤT LƯỢNG
                    </th>
                    <th>
                        TIÊU ĐỀ
                    </th>
                    <th>
                        GHI CHÚ
                    </th>
                    @if (new WebQLKhachSan.Areas.Admin.Models.LoginHelper().AllowThemSuaXoa() && new WebQLKhachSan.Areas.Admin.Models.LoginHelper().GetTaiKhoan().ChucVuObjectJoin.TenCV.ToUpper() == "ADMIN")
                    {
                        <th>
                            Thao tác
                        </th>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.HinhAnh.ImageLink" style="max-height: 50px" alt="@item.HinhAnh.ImageLink" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaKhachSan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhachSan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Star) <i class="fa fa-star"></i>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TieuDe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GhiChu)
                        </td>
                        <td>
                            @if (new WebQLKhachSan.Areas.Admin.Models.LoginHelper().AllowThemSuaXoa() && new WebQLKhachSan.Areas.Admin.Models.LoginHelper().GetTaiKhoan().ChucVuObjectJoin.TenCV.ToUpper() == "ADMIN")
                            {
                                @Html.ActionLink("Sửa", "Edit", new { id = item.IDKhachSan }, new { @class = "btn btn-primary" })
                                <a href="javascrip:;" onclick="delete_Phong('@item.IDKhachSan',this)" class="btn btn-warning">Xóa</a>
                            }
                            @Html.ActionLink("Danh sách phòng", "Index", "Phong", new { IDKhachSan = item.IDKhachSan }, new { @class = "btn btn-success", @target = "blank" })
                            @Html.ActionLink("Quản lý thuê phòng", "Index", "Homes", new { IDKhachSan = item.IDKhachSan }, new { @class = "btn btn-danger", @style ="margin-top: 5px", @target = "blank" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section style{
    <link href="~/Areas/Admin/Content/theme/vendor/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/theme/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />
}

@section script{
    <script src="~/Areas/Admin/Content/theme/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Content/theme/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/theme/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script>
        var e_delete = "";
        function delete_Phong(value, target) {
            if (value) {
                if (confirm('Bạn có muốn xóa?') != true) return;
                e_delete = target;
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: "POST",
                    data: { id: value },
                    success: function (d) {
                        if (d == true) $(e_delete).closest('tr').remove();
                        else alert("Xóa thất bại.");
                        e_delete = undefined;
                    },
                    error: function () {
                        alert("Rất tiếc, đã có lỗi xảy ra.");
                    }
                });
            } else {
                alert("Rất tiếc, không thể xác định đối tượng cần xóa.")
            }
        }

        $(document).ready(function () {
            $('#table-data').DataTable({
                responsive: true,
                order: [[1, 'asc'], [4, 'desc']]
            });
        });

    </script>
}