@{
    ViewBag.Title = "Cảm nang du lịch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <!-- page-header -->
            <div class="page-header">
                <h1 class="title-lg" title="Cẩm nang du lịch">
                    <a href="https://mytour.vn#">Cẩm nang du lịch</a>
                </h1>
                <div class="dark mg-bt-10 mg-t-10"></div>
            </div>
            <!-- /.page-header -->
            <div class="blog">
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                         <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_0p61504064551.jpg" />
                            <h2 class="blog-name"> Check-in 12 địa điểm n&agrave;y ở Việt Nam, n&oacute;i l&agrave; &#039;đi &Acirc; ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">30/09/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">748</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            Ai m&agrave; hay đi&nbsp;du lịch&nbsp;kh&aacute;m ph&aacute; c&aacute;c v&ugrave;ng đất ở Việt Nam m&igrave;nh, th&igrave; chắc chắn sẽ c&ugrave;ng chung một quan điể...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                         <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_a391504148621.jpg" />
                            <h2 class="blog-name"> Check-in 12 địa điểm n&agrave;y ở Việt Nam, n&oacute;i l&agrave; &#039;đi &Acirc; ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">30/09/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">512</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            Ai m&agrave; hay đi&nbsp;du lịch&nbsp;kh&aacute;m ph&aacute; c&aacute;c v&ugrave;ng đất ở Việt Nam m&igrave;nh, th&igrave; chắc chắn sẽ c&ugrave;ng chung một quan điể...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_cm21504079030.jpg" />
                            <h2 class="blog-name"> 5 địa điểm du lịch độc đ&aacute;o tr&ecirc;n thế giới đ&atilde; kịp in ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">27/09/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">338</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            C&aacute;c c&acirc;u chuyện đầy x&uacute;c cảm về những chuyến phi&ecirc;u lưu c&oacute; lẽ lu&ocirc;n l&agrave; một đề t&agrave;i rất "b&eacute;n" v&agrave;...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_fyz1504153596.jpg" />
                            <h2 class="blog-name"> 5 địa điểm du lịch độc đ&aacute;o tr&ecirc;n thế giới đ&atilde; kịp in ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">26/09/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">114</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            C&aacute;c c&acirc;u chuyện đầy x&uacute;c cảm về những chuyến phi&ecirc;u lưu c&oacute; lẽ lu&ocirc;n l&agrave; một đề t&agrave;i rất "b&eacute;n" v&agrave;...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_ixt1503979240.jpg" />
                            <h2 class="blog-name"> Thu sang, h&atilde;y thử &#039;qu&ecirc;n&#039; l&aacute; v&agrave;ng miền Bắc để về ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">22/09/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">407</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            ở Việt Nam m&igrave;nh, cứ mỗi độ thu sang, cũng l&agrave; m&ugrave;a nước nổi của miền T&acirc;y Nam Bộ. Tr&aacute;i ngược hẳn với vẻ...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_k5i1506069498.jpg" />
                            <h2 class="blog-name"> Thu sang, h&atilde;y thử &#039;qu&ecirc;n&#039; l&aacute; v&agrave;ng miền Bắc để về ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">21/09/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">448</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            Cứ mỗi độ thu sang, bao giờ ch&uacute;ng ta cũng nhớ tới khu vực ph&iacute;a Bắc trước ti&ecirc;n. Bao giờ cũng l&agrave; H&agrave; Nộ...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_mio1506740518.jpg" />
                            <h2 class="blog-name"> Hang D&ecirc; đầy cuốn h&uacute;t b&ecirc;n hồ nước xanh đang &lsquo;g&acirc;y số ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">20/09/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">525</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            Nhắc đến Hải Ph&ograve;ng, người ta thường nghĩ ngay về th&agrave;nh phố cảng rực đỏ m&agrave;u hoa phượng đ&atilde; đi v&agrave;o thi...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_pnx1506410722.jpg" />
                            <h2 class="blog-name"> T&ocirc;i c&oacute; một h&agrave;nh tr&igrave;nh đầy những cơn mưa </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">31/08/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">929</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            Những cơn mưa k&eacute;o hơn tr&ecirc;n chặng đường của t&ocirc;i, c&agrave;ng đi nhiều t&ocirc;i c&agrave;ng c&oacute; th&ecirc;m những cơn mưa tr&ecirc;n nh...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">

                            <img src="~/Content/images/cam-nang-du-lich/medium_sht1506739291.jpg" />
                            <h2 class="blog-name"> Theo ch&acirc;n Michelle Phan đi khắp Việt Nam </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">31/08/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">842</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            C&oacute; một c&acirc;u chuyện về Việt Nam, t&ocirc;i đ&atilde; nghe kể từ l&acirc;u nhưng xem lại vẫn muốn chia sẻ với bạn. Đ&oacute; l&agrave; m...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">

                            <img src="~/Content/images/cam-nang-du-lich/medium_t0i1506486123.jpg" />
                            <h2 class="blog-name"> Đ&acirc;u l&agrave; những h&ograve;n đảo động vật cực dễ thương m&ecirc; hoặ ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">30/08/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">182</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            Mỗi v&ugrave;ng đất tr&ecirc;n thế giới đều ẩn chứa trong m&igrave;nh những điều kỳ diệu của tự nhi&ecirc;n, dẫn lối du kh&aacute;ch...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">

                            <img src="~/Content/images/cam-nang-du-lich/medium_tlt1505896244.jpg" />
                            <h2 class="blog-name"> Đi M&aacute;y Bay, Bạn Phải Lưu &Yacute; Những Loại Thực Phẩm Sa ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">30/08/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">866</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            B&ecirc;n cạnh c&aacute;c lưu &yacute; về mặt an ninh, an to&agrave;n hay c&aacute;ch xử sự ở tr&ecirc;n m&aacute;y bay, du kh&aacute;ch cũng kh&ocirc;ng n&ecirc;n bỏ...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <div class="col-sm-4">
                    <!-- blog-item -->
                    <div class="blog-item">
                        <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                            <img src="~/Content/images/cam-nang-du-lich/medium_zxb1505966981.jpg" />
                            <h2 class="blog-name"> &lsquo;Lạc tr&ocirc;i&rsquo; đến 12 h&agrave;nh tr&igrave;nh đường s&ocirc;ng tuyệt nhất ... </h2>
                        </a>
                        <p class="blog-data">
                            <span>
                                <i class="fa fa-calendar"></i>
                                <span class="date">29/08/2017</span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-eye"></i>
                                <span class="data-view">307</span>
                            </span>
                        </p>
                        <div class="blog-item-content">
                            Những con s&ocirc;ng hiền h&ograve;a mang d&ograve;ng chảy thầm lặng ngang qua c&aacute;nh đồng xanh mướt, đem hơi m&aacute;t cho ng&ocirc;i...
                            <div class="box-tag">
                            </div>
                            <p class="blog-view-detail">
                                <a href="">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- /.blog-item -->
                </div>
                <!-- show link parent if empty listing -->
            </div>
            <!-- panigation-blue -->
            <div id="place-paginator">
                <!-- panigation-center -->
                <div class="panigation-center">
                    <ul class="pagination mg-0">
                        <li>
                             <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">
                                <span aria-hidden="true">&laquo;</span>
                                Trang trước
                            </a>
                        </li>
                        <li class="">
                             <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">1</a>
                        </li>
                        <li class="active">
                            <a href="#?page=2">2</a>
                        </li>
                        <li class="disabled">
                             <a href="@Url.Action("ChiTiet", "CamNangDuLich", new { id=16524})">..</a>
                        </li>
                        <li class="">
                            <a href="#?page=7">5</a>
                        </li>
                        <li class="">
                            <a href="#?page=8">6</a>
                        </li>
                        <li>
                            <a href="#?page=3" aria-label="Next">
                                Trang sau
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.panigation-center -->
            </div>
            <!-- /.panigation-blue -->
        </div>
    </div>
</div>
<script src="~/Content/js/chi-tiet-phong.js"></script>